@media screen {
    body {
        zoom: 110%;
        line-height: 1.2;
    }
}
.select{
    position: center;
}
.section{
    padding: 0 1rem 1rem;
}
.countButtons{
    padding-top: 15px;
    padding-bottom: 15px;
    position: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.input{
    width: 75px;
    text-align-all: center;
    border-color: #2ecc71;
    border-radius: 10px;
}
.button.is-large {
    font-size: 2rem;
}
.diceRequest{
    padding-top: 25px;
    color: #048aa9;
    font-size: 30px;
}
.diceResult{
    color: #00b89c;
    font-size: 80px;
}
.rollSpoiler{
    text-align: center;
    color: #048aa9;
    font-size: 25px;
}

.rollSumHeader{
    color: #048aa9;
    font-size: 25px;
    display: none;
}
.rollSumTable{
    font-size: 25px;
    color: #048aa9;
}
.historyListEmpty{
    font-size: 25px;
    color: #00b89c;
    text-align: center;
}
.historyListStyle{
    font-size: 25px;
    color: #00b89c;
}
.tabs .tab a {
    font-size: 20px;
    color: whitesmoke;
}
.tabs .tab a:hover {
    color: #00b89c;
    background-color: whitesmoke;
    /*Custom Color On Hover*/
}
.tabs .tab a:focus.active {
    color: #1eab9e;
    /*Custom Text Color While Active*/
    background-color: rgba(38, 166, 154, 0.2);
    /*Custom Background Color While Active*/
}
.tabs li.is-active a {
    color: #1eab9e;
    background-color: whitesmoke;
}
.tabs .indicator {
    color: #2c2b2b;
    background-color: #30aba0;
    /*Custom Color Of Indicator*/
}