@media screen {
    body {
        zoom: 75%;
    }
}

@media (min-width: 1577px) and (max-width: 1980px) {
    :root {
        --pico-font-size: 135%;
    }
}

@media (min-width: 1281px) and (max-width: 1576px) {
    .container {
        max-width: 70%;
    }
    .formatted-skills-grid {
        grid-row-gap: 0;
        grid-template-columns: repeat(3, 1fr);
    }
    :root {
        --pico-font-size: 135%;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .formatted-basic-info-grid{
        grid-row-gap: 0;
        grid-template-columns: repeat(2, 1fr);
    }
    .formatted-skills-grid {
        grid-row-gap: 0;
        grid-template-columns: repeat(2, 1fr);
    }
    :root {
        --pico-font-size: 130%;
    }
    .container {
        max-width: 75%;
    }
}

@media (min-width: 250px) and (max-width: 767px) {
    .formatted-basic-info-grid{
        grid-row-gap: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .formatted-stats-grid {
        grid-row-gap: 0;
        grid-template-columns: repeat(2, 1fr);
    }
    .formatted-skills-grid {
        grid-row-gap: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    :root {
        --pico-font-size: 130%;
    }
    .container {
        max-width: 85%;
    }
}

:root:not([data-theme=dark]),[data-theme=light] {
    background-color: aliceblue;
    --pico-border-color: #d1dce8; /* Черный цвет границы */
    --pico-border-width: 1px; /* Ширина границы */
    --pico-background-color: #fff;
    --pico-border-color-second: #c4c4c4;
    --pico-border-color-reverce: #464646;

    color-scheme: light
}

:root:not([data-theme=dark]) input:is([type=submit],[type=button],[type=reset],[type=checkbox],[type=radio],[type=file]),[data-theme=light] input:is([type=submit],[type=button],[type=reset],[type=checkbox],[type=radio],[type=file]) {
    --pico-form-element-focus-color: var(--pico-primary-focus)
}

[data-theme=dark] {
    --pico-border-color: #202632; /* Черный цвет границы */
    --pico-border-width: 1px; /* Ширина границы */
    --pico-background-color: #13171f;
    --pico-border-color-second: #464646;
    --pico-border-color-reverce: #c4c4c4;

    color-scheme: dark;
}

.formatted-stats-box {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

article {
    border: var(--pico-border-width) solid var(--pico-border-color);
}

article.card {
    border: var(--pico-border-width) solid var(--pico-border-color);
    padding: 15px;
}

.container-fluid-custom {
    min-width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--pico-spacing);
    padding-left: var(--pico-spacing);
}

details summary::after {
    display: block;
    width: 1rem;
    height: 1rem;
    margin-inline-start: calc(var(--pico-spacing, 12rem) * .5);
    float: left;
    transform: rotate(-90deg);
    background-image: var(--pico-icon-chevron);
    background-position: right center;
    background-size: 1rem auto;
    background-repeat: no-repeat;
    content: "";
    transition: transform var(--pico-transition);
}

input[type="radio"]:disabled {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    padding: 0px;
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: white;
    border-radius: 50%;
}
input[type="radio"]:checked {
    background-color: var(--pico-primary);
}

fieldset legend, label {
    display: inline-block;
    margin-bottom: calc(var(--pico-spacing) * .375);
    color: var(--pico-color);
    font-weight: var(--pico-form-label-font-weight, var(--pico-font-weight));
}

p {
    margin-bottom: 0;
}

.grid.custom {
    grid-row-gap: 15px;
}

.grid {
    grid-row-gap: 0;
}

.formatted-stats-box {
    border: 1px solid var(--pico-border-color);
    padding: 10px;
    text-align: center;
}

.color-picker button {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 2px;
    border-radius: 50%;
    border: 1px solid var(--pico-border-color-second);
}

.pico-background-pink { background-color: #c72259; }
.pico-background-purple { background-color: #aa40bf; }
.pico-background-violet { background-color: #7540bf; }
.pico-background-blue { background-color: #2060df; }
.pico-background-cyan { background-color: #047878; }
.pico-background-jade { background-color: #007a50; }
.pico-background-green { background-color: #398712; }
.pico-background-amber { background-color: #ffbf00; }
.pico-background-zinc { background-color: #646b79; }
.icon-check {
    visibility: visible;
}
.color-picker a.active .icon-check {
    visibility: visible;
}

